# Core ML libraries
numpy
pandas
scikit-learn
tensorflow
opencv-python-headless
mediapipe
Pillow
joblib

# Model export libraries
onnx
onnxruntime
tf2onnx # Hapus batasan jika ada
# sklearn2onnx # Pastikan ini masih dikomentari atau dihapus jika tidak diperlukan

# Image processing
albumentations

# Utilities
tqdm
matplotlib
seaborn

# Flask
Flask==2.3.3
Flask-CORS==4.0.0
gunicorn==21.2.0

# Data handling
pathlib2

tensorflow-cpu==2.13.0

requests==2.31.0
